# --- SAKSHI GITIGNORE ---

# Runtime & Telemetry Logs
*.log

# Windows System Files
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment / Local Configurations
.env
.env.local
.env.*.local

# IDE & Editor Directories
.vscode/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Local custom quote configuration
Modules/Death/quote.txt

# Local custom visual files
Modules/Death/Visuals/
